# <font color="red"> Data Science no Agronegócio</font>
## <span style="color:red">Linguagens e Ferramentas para *Data Science* no Agronegócio</span>

### <span style="color:darkred">Python: Pandas Parte 2</span>

*Dr. Guilherme Martineli Sanches*<br>
*Cropman*

In [3]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
%%writefile data_access.csv  
day,month,num access,category
31,5,9241,student
31,5,830,teacher
31,5,45,coordinator
3,6,9102,student
3,6,1022,teacher
3,6,30,coordinator
4,6,10301,student
4,6,781,teacher
4,6,81,coordinator

Writing data_access.csv

In [2]:
# Carregar um CSV simples
import pandas as pd # importamos a bilbioteca

df = pd.read_csv('/content/data_access.csv')  # o método read_csv carrega um arquivo no formato '.csv'
                                # a primeira linha do arquivo se torna os rótulos das colunas
                                # como os indices não foram especificados, são criados automaticamente

df

   day  month  num access     category
0   31      5        9241      student
1   31      5         830      teacher
2   31      5          45  coordinator
3    3      6        9102      student
4    3      6        1022      teacher
5    3      6          30  coordinator
6    4      6       10301      student
7    4      6         781      teacher
8    4      6          81  coordinator

### Acessando Linhas

Para acessar linhas de um DataFrame:
- <font color='blue'>iloc</font> - manipula o DataFrame como uma matriz com índices inteiros
- <font color='blue'>loc</font> - seleciona linhas pelos seus rótulos (índices) ou por máscara booleana

A princípio esses parecem redudantes, mas o que muda é a seleção pelo rótulo das linhas.

Para melhor explicar vamos refazer o índice do dataframe

O método `set_index()` permite definir um índice com base numa coluna. É preciso especificar o parâmetro `inplace=True` para que o dataframe seja modificado, do contrário, apenas uma cópia é retornada

In [4]:
# criando novamente a coluna ID
lista = list(range(10,(df.shape[0]+1)*10,10))
df['id'] = lista
df

   day  month  num access     category  id
0   31      5        9241      student  10
1   31      5         830      teacher  20
2   31      5          45  coordinator  30
3    3      6        9102      student  40
4    3      6        1022      teacher  50
5    3      6          30  coordinator  60
6    4      6       10301      student  70
7    4      6         781      teacher  80
8    4      6          81  coordinator  90

In [5]:
# sem passar o inplace
df.set_index('id')
df

   day  month  num access     category  id
0   31      5        9241      student  10
1   31      5         830      teacher  20
2   31      5          45  coordinator  30
3    3      6        9102      student  40
4    3      6        1022      teacher  50
5    3      6          30  coordinator  60
6    4      6       10301      student  70
7    4      6         781      teacher  80
8    4      6          81  coordinator  90

In [6]:
df.set_index('id', inplace=True)
df

    day  month  num access     category
id
10   31      5        9241      student
20   31      5         830      teacher
30   31      5          45  coordinator
40    3      6        9102      student
50    3      6        1022      teacher
60    3      6          30  coordinator
70    4      6       10301      student
80    4      6         781      teacher
90    4      6          81  coordinator

O parâmetro `inplace` é também usado em outros métodos com o mesmo fim.

#### Usando `loc()`

A seleção é feita pelo índice do dataframe

In [7]:
df.loc[20]

day                31
month               5
num access        830
category      teacher
Name: 20, dtype: object

In [8]:
# podemos passar uma lista, que será retornada na ordem informada
df.loc[[90,10,30]]

    day  month  num access     category
id
90    4      6          81  coordinator
10   31      5        9241      student
30   31      5          45  coordinator

Quando fatiamos, *excepcionalmente com o loc* o intervalo é fechado para os dois extremos

Ou seja, será retornado o valor de índice final

In [9]:
df.loc[10:40]

    day  month  num access     category
id
10   31      5        9241      student
20   31      5         830      teacher
30   31      5          45  coordinator
40    3      6        9102      student

Podemos também especificar as colunas

In [11]:
df.loc[10:20, ['day', 'month']]

    day  month
id
10   31      5
20   31      5

In [13]:
df.loc[10:30, 'category']

id
10        student
20        teacher
30    coordinator
Name: category, dtype: object

**`loc()` com condicionais (booleanas)**

In [14]:
df['category'] == 'student'

id
10     True
20    False
30    False
40     True
50    False
60    False
70     True
80    False
90    False
Name: category, dtype: bool

In [15]:
df.loc[df['category'] == 'student']

    day  month  num access category
id
10   31      5        9241  student
40    3      6        9102  student
70    4      6       10301  student

#### Usando `iloc()`

A seleção é feita pela posição de linha e coluna relativa ao início, começando por zero, como se fosse uma matriz

In [16]:
df

    day  month  num access     category
id
10   31      5        9241      student
20   31      5         830      teacher
30   31      5          45  coordinator
40    3      6        9102      student
50    3      6        1022      teacher
60    3      6          30  coordinator
70    4      6       10301      student
80    4      6         781      teacher
90    4      6          81  coordinator

In [17]:
df.iloc[1]

day                31
month               5
num access        830
category      teacher
Name: 20, dtype: object

In [18]:
cat_pos1 = df.iloc[1,3]
print(cat_pos1)

teacher

In [19]:
df.iloc[:,3]

id
10        student
20        teacher
30    coordinator
40        student
50        teacher
60    coordinator
70        student
80        teacher
90    coordinator
Name: category, dtype: object

Aqui também podemos usar o atributo `values`

In [20]:
lista_cats = list(df.iloc[:,3].values)
print(lista_cats)

['student', 'teacher', 'coordinator', 'student', 'teacher', 'coordinator', 'student', 'teacher', 'coordinator']

É possível fatiar ambas linhas e colunas, 
* padrão Python, em que o elemento final representa um intervalo ABERTO, ou seja não é retornado

In [22]:
df.iloc[3:6]

    day  month  num access     category
id
40    3      6        9102      student
50    3      6        1022      teacher
60    3      6          30  coordinator

In [25]:
df.iloc[3:5,2:4]

    num access category
id
40        9102  student
50        1022  teacher

`iloc()` e `loc()` retornam uma cópia do dataframe

In [26]:
subdf1 = df.iloc[3:6, 2:]
subdf1.iloc[2, 0] = -1
print(subdf1)

    num access     category
id
40        9102      student
50        1022      teacher
60          -1  coordinator

In [27]:
df

    day  month  num access     category
id
10   31      5        9241      student
20   31      5         830      teacher
30   31      5          45  coordinator
40    3      6        9102      student
50    3      6        1022      teacher
60    3      6          30  coordinator
70    4      6       10301      student
80    4      6         781      teacher
90    4      6          81  coordinator

In [28]:
subdf2 = df.loc[40:60,['num access', 'category']]
subdf2.iloc[1:, 0] = -1
print(subdf2)

    num access     category
id
40        9102      student
50          -1      teacher
60          -1  coordinator

In [29]:
df

    day  month  num access     category
id
10   31      5        9241      student
20   31      5         830      teacher
30   31      5          45  coordinator
40    3      6        9102      student
50    3      6        1022      teacher
60    3      6          30  coordinator
70    4      6       10301      student
80    4      6         781      teacher
90    4      6          81  coordinator

# Estatísticas

Há várias funções para análise dos dados.

Consultar a documentação oficial é importante (há muito ruído na internet/vídeos)

Básicas, que retornam um escalar como: `mean`, `std`, `quantile`, `min`, `max`

E mais complexas como: `cov` (covariance), `corr` (correlation) 

`describe` gera estatística descritiva para todas as colunas numéricas (ou série)

In [31]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Aulas_AgroAdvance/Aula 14/countries_data.tsv', sep='\t')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [33]:
df.sample(6)

       country continent  year  lifeExp       pop     gdpPercap
230   Cameroon    Africa  1962   42.643   5793633   1399.607441
781    Jamaica  Americas  1957   62.610   1535090   4756.525781
80     Austria    Europe  1992   76.040   7914969  27042.018680
1475    Sweden    Europe  2007   80.884   9031088  33859.748350
1528  Thailand      Asia  1972   60.405  39276153   1524.358936
1337    Serbia    Europe  1977   70.300   8686367  12980.669560

In [34]:
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [35]:
df['pop'].mean()

29601212.324530516

In [36]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [37]:
df[['lifeExp', 'pop', 'gdpPercap']].corr()

            lifeExp       pop  gdpPercap
lifeExp    1.000000  0.064955   0.583706
pop        0.064955  1.000000  -0.025600
gdpPercap  0.583706 -0.025600   1.000000

--

**<font color="blue">Exercício 7</font>**

O exercício a seguir fará uso do arquivo <font style="font-family: monaco">WorldCups.csv</font>

O arquivo <font style="font-family: monaco">WorldCups.csv</font> possui as seguintes colunas:
- Year: ano da copa
- Country: pais sede
- Winner: campeão
- RunnersUp: disputou a final com o campeão
- Third: terceiro colocado
- Fourth: quarto colocado
- GoalsScored: número de gols na copa
- QualifiedTeams: número de times que disputaram a copa
- MatchesPlayed: número de jogos
- Attendance: número de espectadores (público)

Utilizando o <font color='blue'>pandas</font> leia o arquivo <font style="font-family: monaco">WorldCups.csv</font> como DataFrame. 
- Definina a coluna 'Year' como índice
- Exiba as 5 primeiras linhas do DataFrame
- Exiba o tipo de dado de cada coluna
- Imprima o número de linhas do DataFrame

Crie uma nova coluna com a média de gols por partida chamada `AverageGoalsMatch`, dividindo o número de gols pelo número de partidas jogadas.

A seguir, encontre e/ou calcule:
- os anos em que o Brasil ganhou a copa, armazene em uma lista as média de gols naqueles anos. A seguir imprima a lista na tela.
- os anos em que o Brasil jogou uma final (os finalistas estão nas colunas 'Winner' e 'RunnersUp') e imprima na tela os anos e a média de gols de cada ano